<div class="root d-flex flex-column flex-shrink-0">
  <a
    routerLink="/"
    class="d-flex align-items-center ms-3 mb-3 mb-md-0 me-md-auto text-decoration-none text-dark"
  >
    <span class="fs-4 fw-bold text-white">Book</span>
    <span class="fs-4 fw-bold text-primary">Flix</span>
  </a>
  <hr />

  <ul class="nav nav-pills flex-column mb-auto gap-1">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bi bi-columns-gap"></i>{{ 'Dashboard' | locale }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/account-settings" routerLinkActive="active">
        <i class="bi bi-gear"></i>{{ 'AccountSettings' | locale }}
      </a>
    </li>
    <li class="py-2">
      <hr />
    </li>
    <li class="nav-item" (click)="signOut()">
      <a class="nav-link"> <i class="bi bi-box-arrow-right"></i>{{ 'SignOut' | locale }} </a>
    </li>
  </ul>
</div>
