.root {
  width: 280px;
  background-color: var(--bf-bg-sidebar);
  height: 100vh;
  padding: 1rem;
  border-right: 1px solid var(--bf-border-input);
  hr {
    color: var(--bf-text-muted);
  }
  a {
    cursor: pointer;
    color: var(--bf-text-main);
    i {
      margin-right: 0.5rem;
    }
  }
}
